@model RestPasswordViewModel

<form asp-controller="Users"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="OnmodelBegin"
      data-ajax-success="OnmodelSuccess"
      data-ajax-failure="alert('falier')"
      data-ajax-complete="OnmodelComplete">
    
        <input type="hidden" asp-for="Id" />
    
    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="password" class="form-control  form-control-solid" placeholder="Password" asp-for="Password" />
            <label asp-for="Password"></label>
        </div>
        <span asp-validation-for="Password" class="text-danger d-block"></span>
    </div>

    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="password" class="form-control form-control-solid " placeholder="ConfirmPassword" asp-for="ConfirmPassword" />
            <label asp-for="ConfirmPassword"></label>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger d-block"></span>
    </div>

    <partial name="_modalpopupfooter" />
</form>

















